<% link_to("back to list",{:action=>'index'},:class=> 'back-lin')%>
<div class="Update Subject">
	<h2>Update Subject</h2>
	
<%= form_for(:subject, :url => {
	:action =>'update',:id=>@subject.id},:html => {:class => 'form'})  do |t| %>
	
	<%= render(:partial=>'forms',:locals=>{:t=>t}) %>

	
	<%= submit_tag("Update ",:class=>'submit-btn')%>
		
		<%end%>


</div>