<% link_to("back to list",{:action=>'index'},:class=> 'back-lin')%>
<div class="subjects new">
	<h2>Create Subject</h2>
	

<%= form_for(:subject, :url => {
	:action =>'create'
	},:html => {:class => 'form'})  do |t| %>
	<%= render(:partial=>'forms',:locals=>{:t=>t}) %>
	<%= submit_tag("Create ",:class=>'submit-btn')%>
		
<%end%>


</div>